---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TestTypewriter from '../components/TestTypewriter.astro';
import Timeline from '../components/ui/Timeline';
import Profile from '../components/Profile.astro';
---

<Layout title="Gene Ni Portfolio">
	<main>
		<div class=" p-10">
			<Profile />
		</div>
	</main>
</Layout>

<style>
</style>
