---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import TestTypewriter from '../components/TestTypewriter.astro';
// import Timeline from '../components/ui/TimelineOld';
import Profile from '../components/Profile.astro';
import WhatIDo from '../components/WhatIDo.astro';
import StuffIUse from '../components/StuffIUse.astro';
import Timeline from '../components/ui/Timeline.astro';
import PersonalProjects from '../components/PersonalProjects.astro';
import ThemeIcon from '../components/ui/ThemeIcon.astro';
---

<Layout title="Gene Ni Portfolio">
	<main>
		<div class=" flex flex-col gap-[20vh] py-10 px-10">
			<ThemeIcon />
			<Profile />
			<WhatIDo />
			<StuffIUse />
			<Timeline />
			<PersonalProjects />
		</div>
	</main>
</Layout>

<style>
</style>