---
import Layout from "../layouts/Layout.astro";
import ClassPic from "../../public/images/CIRCUIT2022-classpic.jpg";
import JHUAPL_ICON from "../../public/images/jhuapl_shield.svg";
import JHUAPL_TEXT from "../../public/images/jhuapl_text.svg";
// {
// date: "May 2022 - May 2023",
// href: "johnshopkins",
// title: "Johns Hopkins University APL",
// group: "Lunar Vertex",
// employment_type: "Full-Time",
// work_title: "Research Intern",
// description:
//     "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
// },
---

<Layout title="Gene @ JHUAPL">
    <main class=" flex flex-col items-center gap-[5vw] p-[5vw]">
        <div class="flex items-center space-x-2">
            <h1 class=" text-3xl"><span transition:name="work_title-johnshopkins">Research Intern</span> @ <img transition:name="icon-johnshopkins" class="inline h-[5vw]" src={JHUAPL_ICON.src} alt="JHUAPL Logo"><img transition:name="title-johnshopkins" class="inline h-[5vw]" src={JHUAPL_TEXT.src} alt="JHUAPL Logo"></h1>
        </div>
        <div class=" flex flex-col items-center">
            <img transition:name="image-johnshopkins" class="rounded-lg" src={ClassPic.src} alt="CIRCUIT">
            <p class=" italic">CIRCUIT 2022 Class Picture</p>
        </div>
    </main>
</Layout>