---
import Layout from "../layouts/Layout.astro";
// {
//     date: "August 2024 - Present",
//     href: "msuirrigation",
//     title: "Michigan State University",
//     group: "Irrigation Laboratory",
//     subtitle: "On-Call · Full Stack Software Developer",
//     description:
//     "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
// },

---

<Layout title="MSU Irrigation">
    <div>
        <h1
        transition:name="title-msuirrigation"
        >
            Michigan State University | Irrigation Laboratory
        </h1>
    </div>
</Layout>