---
import Layout from "../layouts/Layout.astro";
import MSU_ICON from "../../public/images/msu_helmet.svg";
import MSU_TEXT from "../../public/images/msu_text.svg";
import MSU_IrrigationWeb from "../../public/images/msu_irrigationweb.png";
import BackButton from "../components/ui/BackButton.astro";
import ThemeButton from "../components/ui/ThemeButton";
// {
//     date: "August 2024 - Present",
//     href: "msuirrigation",
//     title: "Michigan State University",
//     group: "Irrigation Laboratory",
//     subtitle: "On-Call · Full Stack Software Developer",
//     description:
//     "Get access to over 20+ pages including a dashboard layout, charts, kanban board, calendar, and pre-order E-commerce & Marketing pages.",
// },

---
<Layout title="Gene @ MSU">
    <main class=" flex flex-col items-center gap-[5vw] p-[5vw]">
        <div class=" flex flex-row justify-between w-full">
            <BackButton href="msuirrigation"/>
            <ThemeButton client:only="react"/>
        </div>
        <div class="flex items-center space-x-2">
            <h1 class=" text-sm md:text-3xl"><span transition:name="work_title-msuirrigation">Full Stack Software Developer</span> @ <img transition:name="icon-msuirrigation" class="inline h-[5vw] px-[1vw]" src={MSU_ICON.src} alt="JHUAPL Logo"><img transition:name="title-msuirrigation" class="inline h-[5vw]" src={MSU_TEXT.src} alt="JHUAPL Logo"></h1>
        </div>
        <div class=" flex flex-col items-center">
            <img transition:name="image-msuirrigation" class="rounded-lg" src={MSU_IrrigationWeb.src} alt="CIRCUIT">
            <p class=" italic">In progress MSU Irrigation Lab website</p>
        </div>
    </main>
</Layout>