---
import Layout from "../layouts/Layout.astro";


---

<Layout title="Gene's Projects">
    <main class="flex flex-col items-center gap-[5vw] p-[5vw] text-black dark:text-white dark:bg-black">
        <div>
            Under construction!
        </div>
    </main>
</Layout>