---
import ThemeButton from "./ui/ThemeButton"
---

<nav class="fixed -top-10 w-full z-50 transition-all duration-300 hover:top-0">
    <div class="flex justify-center items-center align-middle">
        <div class=" bg-white border-black border-solid border-2 p-5 rounded-full flex flex-row gap-5 justify-center items-center align-middle">
            <a href="/#experience">Experience</a>
            <a href="/#personalprojects">Projects</a>
            <ThemeButton client:only="react" />
        </div>
    </div>
</nav>