---
import ThemeButton from "./ui/ThemeButton"
---

<nav>
    <div class=" flex flex-row gap-5">
        <a href="/" class="text-2xl font-bold">Gene Ni</a>
        <a href="/">Experience</a>
        <a href="/">Projects</a>
        <ThemeButton client:only="react" />
    </div>
</nav>