---
import LightBulb from '../../public/icons/png/lightbulb_2.png';
import { Image } from 'astro:assets';
---

<div class="lg:px-[5vw]">
    <div class=" flex items-center font-bold text-6xl">
        Personal Projects
        <span class="inline-flex">
            <Image class="w-32 inline-block transition-transform duration-300 rotate-y-180" src={LightBulb} alt="Lightbuilb Icon" />
        </span>
    </div>
</div>