---

---

<div class=" flex flex-col gap-10 justify-center align-middle items-center">
    <div class=" flex flex-row gap-10 justify-center align-middle items-center">
        <div>
            <img class=" h-[300px] rounded-xl" src="/images/Ni_Gene_Professional.jpg" alt="">
        </div>
        <div>
            <h1 class=" text-5xl">Hi, I'm Gene</h1>
            <p>and I love making things on the internet.</p>
        </div>
    </div>
    <div class=" px-20">
        <p>I am a software engineer with a passion for creating beautiful and functional web applications. I have experience working with a variety of technologies, including JavaScript, React, Node.js, and MongoDB. I am always looking for new opportunities to learn and grow as a developer, and I am excited to see where my career takes me next.</p>
    </div>
</div>