---
import SplineViewer from "./ui/SplineViewer";
import NorthAmerica from "../../public/icons/png/north_america.png";
import Image from "astro/components/Image.astro";
---

<div class="flex flex-col gap-20 justify-center items-center align-middle w-[90vw] px-[5vw] py-[5vh]">
    <!-- Profile Section -->
    <div class="flex flex-col lg:flex-row gap-10 justify-center items-center w-full lg:p-[5vw]">
        <div class="flex-shrink-0">
            <img class="min-h-[300px] max-h-[500px] rounded-xl" src="https://ff0ab879221fe0ffe0bb76f8a27cdc5f7402170145524adfa232fa8-apidata.googleusercontent.com/download/storage/v1/b/msu-iris-storage/o/Ni_Gene_Professional.jpg?jk=AXZI6JyhDIGF9R4I1susrQFo-EsuEnourFEZN7QpKPuN1NHKYaZ6nwITyojKxoGGZnSZ7PLt4SejXsnbZUhincQgbbFMdBdjv4hRRmJSLc8vlq-g51FdUADQTZeLxD4ID_swUGrmkbil-NBV2Ag0UyU-7twDcQUsR1GFUBC14oBB6zYtY3kRCqjTVip7E4YjOXewko3YGnTgfn7Y_Eg1wwtlpKlmEtSP29Xvug8qPBrGkA6brsoRM2xt1zpg3F1Ag5fu0kB2-IRNeAC0dmClgE4mqHafVB_VEq0V2pEkXJpTNRSpXS2FutZg70s60SHMglL3rpKG-YrCH1uPogsyMc32fpPlRXvA0VVvfuN0g076X8MSBRBwzeN3PqZF_AJRTKL7KDxADQAF6J-4xk7zPDK1m8Hd5yqiLqlAVBNj7vGI-zRta8OEalcSU9-ZpE7PTwESG_hwfAw5c3OIIxPdOLuucS5cQ_XkbL4yBc9FCk5syP_qhKdlFOqHPcEJ7VkKh8-QCUvJmiL73GzLCn3J1MMClrLbjwfjEcPqc4h_OVSvtqkrySvqCfDXctcUfnnZHt2Uxtnch4kSHXUaTBFkaFo0Ah7A1WjQ74nHFPJV-76C5gmMrMTGGnZs7sDaYDpyVonDkv1tPLhN7mrYOJXMe9bbVxhTpLzet_s9E6A4V4w9fL9q3Cj3i0hlayov4CxjBXEpmWctHCUaWaHfs7v0VI4m2dcZVjaMbWH7EM39HTp8VBRgVQzUJG09Exwet74YVULrc0PhAxrmDlib4e8b08QibxE7gNomCOzFn5Pf_d2c-5xM0PhG_xRJTVCmhd47d9Gb26y5SQuUmpNef8CpiC01Ezp64Jk_-NrEjbDzWzFsGlR8PuRb4Iyatsp2Iny9tCB19HfMSmcqZZ3f93RWccr4CCSQ4q04k-B-FMcE2Y2uJt_rti-nbd3_YPfxCgK-o7d4GGOYZb-zVqGD4n1h--hZ9o-6HePP0MYxVqp85OE0C7hEC2tv4IL5nIOvM-i9h40GFsAMjskMirVUNGpOz6FVtkrdNt6qdW-XZY4uTY_kK5ntRi-ZiJ1DuQaWjDi1h1WgQBeMmoYe7iFTc4-DiOR-aBK5s8SeIB8bdA0fQoF889ODhEEcty8KJRIcCkk2UCvI1270yo_tW-rGN6zQm1RrkRNTHdE_EwO7r02vFRUL7kkUn9uv99MvC5GWbKsrB-bKopNCh57G7uT2UyaPtFghZl_yt4_wYJ_IaMNdsnqb0km-FpE&isca=1" alt="">
        </div>
        <div class="relative flex flex-col justify-center items-center w-full">
            <!-- Container for the Spline Viewer with relative positioning -->
            <div class="relative w-full">
                <!-- Heading positioned at the top of the Spline Viewer -->
                <h1 class="absolute top-[5vh] left-1/2 transform -translate-x-1/2 text-5xl">Hi, I'm</h1>
                <!-- Spline Viewer in the middle -->
                <SplineViewer client:load />
                <!-- Paragraph positioned at the bottom of the Spline Viewer -->
                <p class="absolute text-center w-[30vw] bottom-[5vh] left-1/2 transform -translate-x-1/2 flex items-center justify-center">
                    and I love making things on the internet
                    <span class="inline-flex">
                      <Image class="w-10 inline-block" src={NorthAmerica} alt="North American Icon" />
                    </span>
                </p>
            </div>
        </div>
    </div>


</div>

<style>

</style>