---
import SplineViewer from "./ui/SplineViewer";
import NorthAmerica from "../../public/icons/png/north_america.png";
import Image from "astro/components/Image.astro";
---

<div class="flex flex-col gap-20 justify-center items-center align-middle w-[90vw] px-[5vw] py-[5vh]">
    <!-- Profile Section -->
    <div class="flex flex-col lg:flex-row gap-10 justify-center items-center w-full lg:p-[5vw]">
        <div class="flex-shrink-0">
            <img class="min-h-[300px] max-h-[500px] rounded-xl" src="https://storage.googleapis.com/msu-iris-storage/Ni_Gene_Professional.jpg" alt="">
        </div>
        <div class="relative flex flex-col justify-center items-center w-full">
            <!-- Container for the Spline Viewer with relative positioning -->
            <div class="relative w-full">
                <!-- Heading positioned at the top of the Spline Viewer -->
                <h1 class="absolute top-[5vh] left-1/2 transform -translate-x-1/2 text-5xl">Hi, I'm</h1>
                <!-- Spline Viewer in the middle -->
                <SplineViewer client:load />
                <!-- Paragraph positioned at the bottom of the Spline Viewer -->
                <p class="absolute text-center w-[30vw] bottom-[5vh] left-1/2 transform -translate-x-1/2 flex items-center justify-center">
                    and I love making things on the internet
                    <span class="inline-flex">
                      <Image class="w-10 inline-block" src={NorthAmerica} alt="North American Icon" />
                    </span>
                </p>
            </div>
        </div>
    </div>


</div>

<style>

</style>