---
import { HoverEffect } from "./ui/CardHoverEffect";
import Lightning from "../../public/icons/png/lightning_1.png"
import Image from "astro/components/Image.astro";
import { Frameworks, Tools, Languages, CloudServices } from "./StuffIUse";

const stuffIUse = [
    {
        title: "Frameworks",
        items: Frameworks
    },
    {
        title: "Toolkit",
        items: Tools
    },
    {
        title: "Languages",
        items: Languages
    },
    {
        title: "Cloud Services",
        items: CloudServices
    }
];
---

<!-- "Stuff I Use" Section -->
<div class="flex flex-col gap-10 lg:px-[5vw]">
    <h2 class="group flex items-center font-bold text-6xl max-w-[425px]">
        Stuff I use
        <span class="inline-flex">
            <Image class="w-32 inline-block transition-transform duration-300 rotate-y-180" src={Lightning} alt="Lightning Icon" />
        </span>
    </h2>
    <div class=" flex flex-row flex-wrap gap-10">
        {stuffIUse.map((category) => {
            return (
                <div class=" flex flex-col items-center p-5 rounded-xl border-black border-2">
                    <h3 class=" text-2xl">{category.title}</h3>
                    <HoverEffect client:load items={category.items} />
                </div>
            );
        })}
    </div>
</div>

<style>
    .group:hover .rotate-y-180 {
            transform: rotateY(180deg);
    }
</style>